html, body {
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
}

:root {
	--map-height: 23vw;
	--nav-button-mul: 1;
	--p-button-mul: .5;
	--p-button-h: 2;
	--p-font-size: 10px;
}
@media screen and (min-width: 320px) and (min-height: 320px) {
	:root {
    	--p-button-mul: .6;
		--p-button-h: 3;
		--p-font-size: 12px;
    }
}
@media screen and (min-width: 480px) and (min-height: 480px) {
	:root {
    	--p-button-mul: .75;
		--p-button-h: 4;
		--p-font-size: 14px;
    }
}
@media screen and (min-width: 720px) and (min-height: 720px) {
	:root {
    	--p-button-mul: 1;
		--p-button-h: 5;
		--p-font-size: 18px;
    }
}
@media screen and (min-width: 1080px) and (min-height: 1080px) {
	:root {
    	--p-button-mul: 1.25;
		--p-button-h: 6;
		--p-font-size: 24px;
    }
}
/*footer*/

.copyright {
    margin: 15px 0;
}


h1 {
    color: #212121;
    font-size: 12vh;
}

/*apply accent colour to links*/

a:link, a:visited {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

a:hover {
    color: var(--accent) !important;
    text-decoration: underline black;
}

/*navigation bar icons*/

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/*coloured borders at top and bottom of the page*/



footer {
    border-bottom: var(--border-width) solid var(--accent);
}


.dropdown1, .dropdown2, .dropdown3 {
	position: relative;
	z-index: 1;
	overflow: visible;
}


.dropdown-content1, .dropdown-content2, .dropdown-content3 {
    display: none;
    position: absolute;
    right: 0;
    background-color: #111111;
    color: white;
    min-width: 160px;
    box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.33);
    padding: 2px 4px;
    z-index: 1;
    overflow: visible;
    top: 100%;
    width: 100%;
}

.dropdown1:hover .dropdown-content1 {
    display: block;
    z-index: 1;
    overflow: visible;
}
.dropdown-content1:hover ~ .dropdown1 {
    background-color: #111111;
}
.dropdown2:hover .dropdown-content2 {
    display: block;
    z-index: 1;
    overflow: visible;
}
.dropdown-content2:hover ~ .dropdown2 {
    background-color: #111111;
}
.dropdown3:hover .dropdown-content3 {
    display: block;
    z-index: 1;
    overflow: visible;
}
.dropdown-content3:hover ~ .dropdown3 {
    background-color: #111111;
}
ul.navbar {
	border-top: var(--border-width) solid var(--accent);
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
	height: 3.5em;
    overflow: visible;
    background-color: #999999;
    position: relative;
    z-index: 100000;

}
ul.dropdown-content1, ul.dropdown-content2, ul.dropdown-content3, ul.dropdown-content1a, ul.dropdown-content1b {
	list-style-type: none;
}

.dropdown1a, .dropdown1b {
	position: relative;
	z-index: 1;
	overflow: visible;
}
.dropdown-content1a, .dropdown-content1b {
    display: none;
    position: absolute;
    right: 100%;
    background-color: #111111;
    color: white;
    min-width: 160px;
    box-shadow: 0px 12px 20px 0px rgba(0,0,0,0.33);
    padding: 0px;
    z-index: 1;
    overflow: visible;
    top: 0%;
    width: 100%;
}
.dropdown1a:hover .dropdown-content1a {
    display: block;
    z-index: 1;
    overflow: visible;
}
.dropdown-content1a:hover ~ .dropdown1a {
    background-color: #111111;
}
.dropdown1b:hover .dropdown-content1b {
    display: block;
    z-index: 1;
    overflow: visible;
}
.dropdown-content1b:hover ~ .dropdown1b {
    background-color: #111111;
}



li.nav {
    float: right;
}
li.logo {
    float: left;
    height: 100%;
}
li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #111111;
}
li.logo a {
    color: white;
    text-align: center;
    padding-left: 16px;
    text-decoration: none;
}

li.logo a:hover {
    background-color: #ffffff;
}

.dropdown-btn {
	padding: .1em .15em;
	border-radius: .25em;
	background: linear-gradient(rgb(135,206,250), rgb(30,144,255));
	border: 1px solid rgba(0,0,0,.3);
	box-shadow: 0 1px white inset, 0 .3em .3em -.3em rgba(0,0,0,.3);
	vertical-align: middle;
	height: .8em;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.helper {
	height: 100%;
	vertical-align: middle;
	display: inline-block;
}

@keyframes randomz {
	from {z-index: 100;}
	to {z-index: 1;}
}
.randomPuzzleh1 {
	position: absolute;
	z-index: 1;
	padding: 0px;
	left: 0px;
}

.randomPuzzlen1 {
	position: absolute;
	z-index: 1;
	padding: 0px;
}

li.nav span.randomPuzzlet0 {
	position: absolute;
	z-index: 1;
	background: black;
	color: white;
	padding:0px;
	height: 4em;
	width: calc(160px * var(--nav-button-mul));

}
li.nav span.randomPuzzlet0 a.linkholder {
	padding-top: 1.5em;
	position: absolute;
	z-index: 1;
	height: 2.5em;
	width: calc(160px * var(--nav-button-mul));
	opacity: 1;
	background: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;

}
li.nav span.randomPuzzlet0:hover a {
	color: red;
}

.notnav.randomPuzzlet0 {
	position: absolute;
	z-index: 1;
	background: black;
	color: white;
	padding:0px;
	height: calc(10px * var(--p-button-h));
	width: calc(160px * var(--p-button-mul));

}
.notnav.randomPuzzlet0 a.linkholder {
	padding-top: calc(3px * var(--p-button-h));
	position: absolute;
	z-index: 1;
	height: calc(7px * var(--p-button-h));
	width: calc(160px * var(--p-button-mul));
	opacity: 1;
	background: inherit;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: var(--p-font-size);

}

.notnav.randomPuzzlet0:hover a {
	color: red;
}

a.buttonPuzzle {
	display: inline-block;
	padding-top: calc(3px * var(--p-button-h));
	position: relative;
	z-index: 1;
	height: calc(7px * var(--p-button-h));
	width: calc(160px * var(--p-button-mul));
	opacity: 1;
	background: black;
	padding-bottom: 0px;
	padding-left: 0px;
	border: 0px solid white;
	border-right: 5px solid white;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: var(--p-font-size);
}

li.nav a.randomPuzzle1 {left: calc(16px * var(--nav-button-mul)); top: 0em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle1 {left: calc(16px * var(--p-button-mul)); top: calc(0px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle2 {left: calc(32px * var(--nav-button-mul)); top: 0em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle2 {left: calc(32px * var(--p-button-mul)); top: calc(0px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle3 {left: calc(48px * var(--nav-button-mul)); top: 0em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle3 {left: calc(48px * var(--p-button-mul)); top: calc(0px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle4 {left: calc(64px * var(--nav-button-mul)); top: 0em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle4 {left: calc(64px * var(--p-button-mul)); top: calc(0px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle5 {left: calc(80px * var(--nav-button-mul)); top: 0em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle5 {left: calc(80px * var(--p-button-mul)); top: calc(0px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle6 {left: calc(96px * var(--nav-button-mul)); top: 0em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle6 {left: calc(96px * var(--p-button-mul)); top: calc(0px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle7 {left: calc(112px * var(--nav-button-mul)); top: 0em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle7 {left: calc(112px * var(--p-button-mul)); top: calc(0px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle8 {left: calc(128px * var(--nav-button-mul)); top: 0em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle8 {left: calc(128px * var(--p-button-mul)); top: calc(0px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle9 {left: calc(144px * var(--nav-button-mul)); top: 0em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle9 {left: calc(144px * var(--p-button-mul)); top: calc(0px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle10 {left: calc(0px * var(--nav-button-mul)); top: 0em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle10 {left: calc(0px * var(--p-button-mul)); top: calc(0px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle11 {left: calc(16px * var(--nav-button-mul)); top: 0.4em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle11 {left: calc(16px * var(--p-button-mul)); top: calc(1px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle12 {left: calc(32px * var(--nav-button-mul)); top: 0.4em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle12 {left: calc(32px * var(--p-button-mul)); top: calc(1px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle13 {left: calc(48px * var(--nav-button-mul)); top: 0.4em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle13 {left: calc(48px * var(--p-button-mul)); top: calc(1px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle14 {left: calc(64px * var(--nav-button-mul)); top: 0.4em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle14 {left: calc(64px * var(--p-button-mul)); top: calc(1px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle15 {left: calc(80px * var(--nav-button-mul)); top: 0.4em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle15 {left: calc(80px * var(--p-button-mul)); top: calc(1px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle16 {left: calc(96px * var(--nav-button-mul)); top: 0.4em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle16 {left: calc(96px * var(--p-button-mul)); top: calc(1px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle17 {left: calc(112px * var(--nav-button-mul)); top: 0.4em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle17 {left: calc(112px * var(--p-button-mul)); top: calc(1px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle18 {left: calc(128px * var(--nav-button-mul)); top: 0.4em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle18 {left: calc(128px * var(--p-button-mul)); top: calc(1px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle19 {left: calc(144px * var(--nav-button-mul)); top: 0.4em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle19 {left: calc(144px * var(--p-button-mul)); top: calc(1px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle20 {left: calc(0px * var(--nav-button-mul)); top: 0.4em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle20 {left: calc(0px * var(--p-button-mul)); top: calc(1px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle21 {left: calc(16px * var(--nav-button-mul)); top: 0.8em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle21 {left: calc(16px * var(--p-button-mul)); top: calc(2px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle22 {left: calc(32px * var(--nav-button-mul)); top: 0.8em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle22 {left: calc(32px * var(--p-button-mul)); top: calc(2px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle23 {left: calc(48px * var(--nav-button-mul)); top: 0.8em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle23 {left: calc(48px * var(--p-button-mul)); top: calc(2px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle24 {left: calc(64px * var(--nav-button-mul)); top: 0.8em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle24 {left: calc(64px * var(--p-button-mul)); top: calc(2px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle25 {left: calc(80px * var(--nav-button-mul)); top: 0.8em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle25 {left: calc(80px * var(--p-button-mul)); top: calc(2px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle26 {left: calc(96px * var(--nav-button-mul)); top: 0.8em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle26 {left: calc(96px * var(--p-button-mul)); top: calc(2px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle27 {left: calc(112px * var(--nav-button-mul)); top: 0.8em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle27 {left: calc(112px * var(--p-button-mul)); top: calc(2px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle28 {left: calc(128px * var(--nav-button-mul)); top: 0.8em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle28 {left: calc(128px * var(--p-button-mul)); top: calc(2px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle29 {left: calc(144px * var(--nav-button-mul)); top: 0.8em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle29 {left: calc(144px * var(--p-button-mul)); top: calc(2px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle30 {left: calc(0px * var(--nav-button-mul)); top: 0.8em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle30 {left: calc(0px * var(--p-button-mul)); top: calc(2px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle31 {left: calc(16px * var(--nav-button-mul)); top: 1.2000000000000002em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle31 {left: calc(16px * var(--p-button-mul)); top: calc(3px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle32 {left: calc(32px * var(--nav-button-mul)); top: 1.2000000000000002em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle32 {left: calc(32px * var(--p-button-mul)); top: calc(3px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle33 {left: calc(48px * var(--nav-button-mul)); top: 1.2000000000000002em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle33 {left: calc(48px * var(--p-button-mul)); top: calc(3px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle34 {left: calc(64px * var(--nav-button-mul)); top: 1.2000000000000002em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle34 {left: calc(64px * var(--p-button-mul)); top: calc(3px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle35 {left: calc(80px * var(--nav-button-mul)); top: 1.2000000000000002em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle35 {left: calc(80px * var(--p-button-mul)); top: calc(3px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle36 {left: calc(96px * var(--nav-button-mul)); top: 1.2000000000000002em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle36 {left: calc(96px * var(--p-button-mul)); top: calc(3px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle37 {left: calc(112px * var(--nav-button-mul)); top: 1.2000000000000002em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle37 {left: calc(112px * var(--p-button-mul)); top: calc(3px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle38 {left: calc(128px * var(--nav-button-mul)); top: 1.2000000000000002em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle38 {left: calc(128px * var(--p-button-mul)); top: calc(3px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle39 {left: calc(144px * var(--nav-button-mul)); top: 1.2000000000000002em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle39 {left: calc(144px * var(--p-button-mul)); top: calc(3px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle40 {left: calc(0px * var(--nav-button-mul)); top: 1.2000000000000002em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle40 {left: calc(0px * var(--p-button-mul)); top: calc(3px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle41 {left: calc(16px * var(--nav-button-mul)); top: 1.6em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle41 {left: calc(16px * var(--p-button-mul)); top: calc(4px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle42 {left: calc(32px * var(--nav-button-mul)); top: 1.6em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle42 {left: calc(32px * var(--p-button-mul)); top: calc(4px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle43 {left: calc(48px * var(--nav-button-mul)); top: 1.6em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle43 {left: calc(48px * var(--p-button-mul)); top: calc(4px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle44 {left: calc(64px * var(--nav-button-mul)); top: 1.6em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle44 {left: calc(64px * var(--p-button-mul)); top: calc(4px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle45 {left: calc(80px * var(--nav-button-mul)); top: 1.6em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle45 {left: calc(80px * var(--p-button-mul)); top: calc(4px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle46 {left: calc(96px * var(--nav-button-mul)); top: 1.6em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle46 {left: calc(96px * var(--p-button-mul)); top: calc(4px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle47 {left: calc(112px * var(--nav-button-mul)); top: 1.6em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle47 {left: calc(112px * var(--p-button-mul)); top: calc(4px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle48 {left: calc(128px * var(--nav-button-mul)); top: 1.6em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle48 {left: calc(128px * var(--p-button-mul)); top: calc(4px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle49 {left: calc(144px * var(--nav-button-mul)); top: 1.6em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle49 {left: calc(144px * var(--p-button-mul)); top: calc(4px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle50 {left: calc(0px * var(--nav-button-mul)); top: 1.6em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle50 {left: calc(0px * var(--p-button-mul)); top: calc(4px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle51 {left: calc(16px * var(--nav-button-mul)); top: 2em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle51 {left: calc(16px * var(--p-button-mul)); top: calc(5px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle52 {left: calc(32px * var(--nav-button-mul)); top: 2em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle52 {left: calc(32px * var(--p-button-mul)); top: calc(5px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle53 {left: calc(48px * var(--nav-button-mul)); top: 2em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle53 {left: calc(48px * var(--p-button-mul)); top: calc(5px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle54 {left: calc(64px * var(--nav-button-mul)); top: 2em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle54 {left: calc(64px * var(--p-button-mul)); top: calc(5px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle55 {left: calc(80px * var(--nav-button-mul)); top: 2em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle55 {left: calc(80px * var(--p-button-mul)); top: calc(5px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle56 {left: calc(96px * var(--nav-button-mul)); top: 2em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle56 {left: calc(96px * var(--p-button-mul)); top: calc(5px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle57 {left: calc(112px * var(--nav-button-mul)); top: 2em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle57 {left: calc(112px * var(--p-button-mul)); top: calc(5px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle58 {left: calc(128px * var(--nav-button-mul)); top: 2em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle58 {left: calc(128px * var(--p-button-mul)); top: calc(5px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle59 {left: calc(144px * var(--nav-button-mul)); top: 2em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle59 {left: calc(144px * var(--p-button-mul)); top: calc(5px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle60 {left: calc(0px * var(--nav-button-mul)); top: 2em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle60 {left: calc(0px * var(--p-button-mul)); top: calc(5px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle61 {left: calc(16px * var(--nav-button-mul)); top: 2.4000000000000004em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle61 {left: calc(16px * var(--p-button-mul)); top: calc(6px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle62 {left: calc(32px * var(--nav-button-mul)); top: 2.4000000000000004em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle62 {left: calc(32px * var(--p-button-mul)); top: calc(6px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle63 {left: calc(48px * var(--nav-button-mul)); top: 2.4000000000000004em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle63 {left: calc(48px * var(--p-button-mul)); top: calc(6px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle64 {left: calc(64px * var(--nav-button-mul)); top: 2.4000000000000004em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle64 {left: calc(64px * var(--p-button-mul)); top: calc(6px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle65 {left: calc(80px * var(--nav-button-mul)); top: 2.4000000000000004em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle65 {left: calc(80px * var(--p-button-mul)); top: calc(6px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle66 {left: calc(96px * var(--nav-button-mul)); top: 2.4000000000000004em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle66 {left: calc(96px * var(--p-button-mul)); top: calc(6px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle67 {left: calc(112px * var(--nav-button-mul)); top: 2.4000000000000004em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle67 {left: calc(112px * var(--p-button-mul)); top: calc(6px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle68 {left: calc(128px * var(--nav-button-mul)); top: 2.4000000000000004em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle68 {left: calc(128px * var(--p-button-mul)); top: calc(6px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle69 {left: calc(144px * var(--nav-button-mul)); top: 2.4000000000000004em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle69 {left: calc(144px * var(--p-button-mul)); top: calc(6px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle70 {left: calc(0px * var(--nav-button-mul)); top: 2.4000000000000004em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle70 {left: calc(0px * var(--p-button-mul)); top: calc(6px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle71 {left: calc(16px * var(--nav-button-mul)); top: 2.8000000000000003em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle71 {left: calc(16px * var(--p-button-mul)); top: calc(7px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle72 {left: calc(32px * var(--nav-button-mul)); top: 2.8000000000000003em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle72 {left: calc(32px * var(--p-button-mul)); top: calc(7px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle73 {left: calc(48px * var(--nav-button-mul)); top: 2.8000000000000003em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle73 {left: calc(48px * var(--p-button-mul)); top: calc(7px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle74 {left: calc(64px * var(--nav-button-mul)); top: 2.8000000000000003em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle74 {left: calc(64px * var(--p-button-mul)); top: calc(7px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle75 {left: calc(80px * var(--nav-button-mul)); top: 2.8000000000000003em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle75 {left: calc(80px * var(--p-button-mul)); top: calc(7px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle76 {left: calc(96px * var(--nav-button-mul)); top: 2.8000000000000003em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle76 {left: calc(96px * var(--p-button-mul)); top: calc(7px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle77 {left: calc(112px * var(--nav-button-mul)); top: 2.8000000000000003em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle77 {left: calc(112px * var(--p-button-mul)); top: calc(7px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle78 {left: calc(128px * var(--nav-button-mul)); top: 2.8000000000000003em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle78 {left: calc(128px * var(--p-button-mul)); top: calc(7px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle79 {left: calc(144px * var(--nav-button-mul)); top: 2.8000000000000003em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle79 {left: calc(144px * var(--p-button-mul)); top: calc(7px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle80 {left: calc(0px * var(--nav-button-mul)); top: 2.8000000000000003em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle80 {left: calc(0px * var(--p-button-mul)); top: calc(7px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle81 {left: calc(16px * var(--nav-button-mul)); top: 3.2em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle81 {left: calc(16px * var(--p-button-mul)); top: calc(8px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle82 {left: calc(32px * var(--nav-button-mul)); top: 3.2em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle82 {left: calc(32px * var(--p-button-mul)); top: calc(8px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle83 {left: calc(48px * var(--nav-button-mul)); top: 3.2em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle83 {left: calc(48px * var(--p-button-mul)); top: calc(8px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle84 {left: calc(64px * var(--nav-button-mul)); top: 3.2em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle84 {left: calc(64px * var(--p-button-mul)); top: calc(8px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle85 {left: calc(80px * var(--nav-button-mul)); top: 3.2em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle85 {left: calc(80px * var(--p-button-mul)); top: calc(8px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle86 {left: calc(96px * var(--nav-button-mul)); top: 3.2em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle86 {left: calc(96px * var(--p-button-mul)); top: calc(8px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle87 {left: calc(112px * var(--nav-button-mul)); top: 3.2em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle87 {left: calc(112px * var(--p-button-mul)); top: calc(8px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle88 {left: calc(128px * var(--nav-button-mul)); top: 3.2em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle88 {left: calc(128px * var(--p-button-mul)); top: calc(8px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle89 {left: calc(144px * var(--nav-button-mul)); top: 3.2em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle89 {left: calc(144px * var(--p-button-mul)); top: calc(8px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle90 {left: calc(0px * var(--nav-button-mul)); top: 3.2em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle90 {left: calc(0px * var(--p-button-mul)); top: calc(8px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle91 {left: calc(16px * var(--nav-button-mul)); top: 3.6em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle91 {left: calc(16px * var(--p-button-mul)); top: calc(9px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle92 {left: calc(32px * var(--nav-button-mul)); top: 3.6em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle92 {left: calc(32px * var(--p-button-mul)); top: calc(9px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle93 {left: calc(48px * var(--nav-button-mul)); top: 3.6em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle93 {left: calc(48px * var(--p-button-mul)); top: calc(9px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle94 {left: calc(64px * var(--nav-button-mul)); top: 3.6em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle94 {left: calc(64px * var(--p-button-mul)); top: calc(9px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle95 {left: calc(80px * var(--nav-button-mul)); top: 3.6em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle95 {left: calc(80px * var(--p-button-mul)); top: calc(9px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle96 {left: calc(96px * var(--nav-button-mul)); top: 3.6em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle96 {left: calc(96px * var(--p-button-mul)); top: calc(9px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle97 {left: calc(112px * var(--nav-button-mul)); top: 3.6em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle97 {left: calc(112px * var(--p-button-mul)); top: calc(9px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle98 {left: calc(128px * var(--nav-button-mul)); top: 3.6em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle98 {left: calc(128px * var(--p-button-mul)); top: calc(9px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle99 {left: calc(144px * var(--nav-button-mul)); top: 3.6em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle99 {left: calc(144px * var(--p-button-mul)); top: calc(9px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}

	li.nav a.randomPuzzle100 {left: calc(0px * var(--nav-button-mul)); top: 3.6em; height: .4em; padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--nav-button-mul));}
	.randomPuzzlen1.randomPuzzle100 {left: calc(0px * var(--p-button-mul)); top: calc(9px * var(--p-button-h)); height: calc(1px * var(--p-button-h)); padding: 0px; margin: 0px; z-index: 2; opacity: 0; width: calc(16px * var(--p-button-mul));}
