{{ partial "header" . }}
<style>
:root {
	--map-height: 40vw;
}
.cellinput {
	display:none;
}
.celllabel {
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: gray;
}
input:checked + .celllabel1 {
	background: red;
}
input:checked + .celllabel2 {
	background: blue;
}
{{ $ncols := 6 }}
{{ $powers2 := $.Param "powers2" }}
{{ range $adder := (seq 2) }}
	#span{{ $adder}}r1 {
		float:left;

	}
	#span{{ $adder}}r2 {
		float: left;
	}
	#span{{ $adder}}r3 {
		position: absolute;
		top:22px;
		left: 0px;
	}
	
	
	{{range $col := (seq $ncols) }}
		#span{{ $adder}}r1 .span1{{ $col }} {
			float: left;
			display: none;
			width: {{index $powers2 $col}}px;
			background: red;
			height: 20px;
			border: 1px solid white;
			border-width: 1px 1px 1px 0px;
		}
		input#cell{{ $adder}}r1{{ $col }}:checked ~ #span{{ $adder}}r1 .span1{{ $col }} {
			display: inline-block;
		}
		#span{{ $adder}}r2 .span2{{ $col }} {
			float: left;
			display: none;
			width: {{index $powers2 $col}}px;
			background: blue;
			height: 20px;
			border: 1px solid white;
			border-width: 1px 1px 1px 0px;
		}
		input#cell{{ $adder}}r2{{ $col }}:checked ~ #span{{ $adder}}r2 .span2{{ $col }} {
			display: inline-block;
		}
		#span{{ $adder}}r3 .span3{{ $col }} {
			float: left;
			display: none;
			width: {{index $powers2 $col}}px;
			background: purple;
			height: 20px;
			border: 1px solid white;
			border-width: 1px 1px 1px 0px;
		}
	{{ end }}
	#span{{ $adder}}r3 .span3{{add $ncols 1}} {
		float: left;
		display: none;
		width: {{index $powers2 (add $ncols 1)}}px;
		background: purple;
		height: 20px;
		border: 1px solid white;
		border-width: 1px 1px 1px 0px;
	}

	.cell3{{ add $ncols 1 }}label {
		left: 0px;
		top: {{add (mul 3 20) 80}}px;
	}
	{{ range $row := (seq 3) }}
		{{ range $col := (seq $ncols) }}
			.cell{{ $row }}{{ $col }}label {
				left: {{mul (sub (add $ncols 1) $col) 20}}px;
				top: {{add (mul $row 20) 80}}px;
			}
		{{ end }}
	{{ end }}

	{{ range $col := (seq $ncols) }}
		input#cell{{ $adder}}r1{{ $col }}:checked ~ input#cell{{ $adder}}r2{{ $col }}:checked ~ label.cell3{{ $col }}label {
			background: gray;
		}
		input#cell{{ $adder}}r1{{ $col }}:checked ~ input#cell{{ $adder}}r2{{ $col }}:not(:checked) ~ label.cell3{{ $col }}label {
			background: purple;
		}
		input#cell{{ $adder}}r1{{ $col }}:not(:checked) ~ input#cell{{ $adder}}r2{{ $col }}:checked ~ label.cell3{{ $col }}label {
			background: purple;
		}
		input#cell{{ $adder}}r1{{ $col }}:not(:checked) ~ input#cell{{ $adder}}r2{{ $col }}:not(:checked) ~ label.cell3{{ $col }}label {
			background: gray;
		}
		input#cell{{ $adder}}r1{{ $col }}:checked ~ input#cell{{ $adder}}r2{{ $col }}:checked ~ #span{{ $adder}}r3 .span3{{ $col }} {
			display: none;
		}
		input#cell{{ $adder}}r1{{ $col }}:checked ~ input#cell{{ $adder}}r2{{ $col }}:not(:checked) ~ #span{{ $adder}}r3 .span3{{ $col }} {
			display: inline-block;
		}
		input#cell{{ $adder}}r1{{ $col }}:not(:checked) ~ input#cell{{ $adder}}r2{{ $col }}:checked ~ #span{{ $adder}}r3 .span3{{ $col }} {
			display: inline-block;
		}
		input#cell{{ $adder}}r1{{ $col }}:not(:checked) ~ input#cell{{ $adder}}r2{{ $col }}:not(:checked) ~ #span{{ $adder}}r3 .span3{{ $col }} {
			display: none;
		}
	{{ end }}
	{{range $col := (seq $ncols) }}
		{{if gt $col 1 }}
			{{ range $maxcol := (seq (sub $col 1)) }}
				input#cell{{ $adder}}r1{{ $col }}:checked ~ input#cell{{ $adder}}r2{{ $col }}:checked ~ input#cell{{ $adder}}r1{{$maxcol }}:checked ~ input#cell{{ $adder}}r2{{$maxcol }}:checked ~ label.cell3{{ $col }}label {
					background: purple;
				}
				input#cell{{ $adder}}r1{{ $col }}:checked ~ input#cell{{ $adder}}r2{{ $col }}:checked ~ input#cell{{ $adder}}r1{{$maxcol }}:not(:checked) ~ input#cell{{ $adder}}r2{{$maxcol }}:not(:checked) ~ label.cell3{{ $col }}label{
					background: gray;
				}
			
				input#cell{{ $adder}}r1{{ $col }}:checked ~ input#cell{{ $adder}}r2{{ $col }}:not(:checked) ~ input#cell{{ $adder}}r1{{$maxcol }}:checked ~ input#cell{{ $adder}}r2{{$maxcol }}:checked ~ label.cell3{{ $col }}label {
					background: gray;
				}
				input#cell{{ $adder}}r1{{ $col }}:checked ~ input#cell{{ $adder}}r2{{ $col }}:not(:checked) ~ input#cell{{ $adder}}r1{{$maxcol }}:not(:checked) ~ input#cell{{ $adder}}r2{{$maxcol }}:not(:checked) ~ label.cell3{{ $col }}label{
					background: purple;
				}
			
				input#cell{{ $adder}}r1{{ $col }}:not(:checked) ~ input#cell{{ $adder}}r2{{ $col }}:checked ~ input#cell{{ $adder}}r1{{$maxcol }}:checked ~ input#cell{{ $adder}}r2{{$maxcol }}:checked ~ label.cell3{{ $col }}label {
					background: gray;
				}
				input#cell{{ $adder}}r1{{ $col }}:not(:checked) ~ input#cell{{ $adder}}r2{{ $col }}:checked ~ input#cell{{ $adder}}r1{{$maxcol }}:not(:checked) ~ input#cell{{ $adder}}r2{{$maxcol }}:not(:checked) ~ label.cell3{{ $col }}label{
					background: purple;
				}
			
				input#cell{{ $adder}}r1{{ $col }}:not(:checked) ~ input#cell{{ $adder}}r2{{ $col }}:not(:checked) ~ input#cell{{ $adder}}r1{{$maxcol }}:checked ~ input#cell{{ $adder}}r2{{$maxcol }}:checked ~ label.cell3{{ $col }}label {
					background: purple;
				}
				input#cell{{ $adder}}r1{{ $col }}:not(:checked) ~ input#cell{{ $adder}}r2{{ $col }}:not(:checked) ~ input#cell{{ $adder}}r1{{$maxcol }}:not(:checked) ~ input#cell{{ $adder}}r2{{$maxcol }}:not(:checked) ~ label.cell3{{ $col }}label{
					background: gray;
				}
			
				input#cell{{ $adder}}r1{{ $col }}:checked ~ input#cell{{ $adder}}r2{{ $col }}:checked ~ input#cell{{ $adder}}r1{{$maxcol }}:checked ~ input#cell{{ $adder}}r2{{$maxcol }}:checked ~ #span{{ $adder}}r3 .span3{{ $col }} {
					display: inline-block;
				}
				input#cell{{ $adder}}r1{{ $col }}:checked ~ input#cell{{ $adder}}r2{{ $col }}:checked ~ input#cell{{ $adder}}r1{{$maxcol }}:not(:checked) ~ input#cell{{ $adder}}r2{{$maxcol }}:not(:checked) ~ #span{{ $adder}}r3 .span3{{ $col }}{
					display:  none;
				}
			
				input#cell{{ $adder}}r1{{ $col }}:checked ~ input#cell{{ $adder}}r2{{ $col }}:not(:checked) ~ input#cell{{ $adder}}r1{{$maxcol }}:checked ~ input#cell{{ $adder}}r2{{$maxcol }}:checked ~ #span{{ $adder}}r3 .span3{{ $col }} {
					display:  none;
				}
				input#cell{{ $adder}}r1{{ $col }}:checked ~ input#cell{{ $adder}}r2{{ $col }}:not(:checked) ~ input#cell{{ $adder}}r1{{$maxcol }}:not(:checked) ~ input#cell{{ $adder}}r2{{$maxcol }}:not(:checked) ~ #span{{ $adder}}r3 .span3{{ $col }}{
					display: inline-block;
				}
			
				input#cell{{ $adder}}r1{{ $col }}:not(:checked) ~ input#cell{{ $adder}}r2{{ $col }}:checked ~ input#cell{{ $adder}}r1{{$maxcol }}:checked ~ input#cell{{ $adder}}r2{{$maxcol }}:checked ~ #span{{ $adder}}r3 .span3{{ $col }} {
					display:  none;
				}
				input#cell{{ $adder}}r1{{ $col }}:not(:checked) ~ input#cell{{ $adder}}r2{{ $col }}:checked ~ input#cell{{ $adder}}r1{{$maxcol }}:not(:checked) ~ input#cell{{ $adder}}r2{{$maxcol }}:not(:checked) ~ #span{{ $adder}}r3 .span3{{ $col }}{
					display: inline-block;
				}
			
				input#cell{{ $adder}}r1{{ $col }}:not(:checked) ~ input#cell{{ $adder}}r2{{ $col }}:not(:checked) ~ input#cell{{ $adder}}r1{{$maxcol }}:checked ~ input#cell{{ $adder}}r2{{$maxcol }}:checked ~ #span{{ $adder}}r3 .span3{{ $col }} {
					display: inline-block;
				}
				input#cell{{ $adder}}r1{{ $col }}:not(:checked) ~ input#cell{{ $adder}}r2{{ $col }}:not(:checked) ~ input#cell{{ $adder}}r1{{$maxcol }}:not(:checked) ~ input#cell{{ $adder}}r2{{$maxcol }}:not(:checked) ~ #span{{ $adder}}r3 .span3{{ $col }}{
					display:  none;
				}
			
			{{ end }}
		{{ end }}
	{{ end }}
	{{ range $maxcol := (seq (sub $ncols 0)) }}
		input#cell{{ $adder}}r1{{$maxcol }}:checked ~ input#cell{{ $adder}}r2{{$maxcol }}:checked ~ label.cell3{{add $ncols 1}}label {
			background: purple;
		}
		input#cell{{ $adder}}r1{{$maxcol }}:not(:checked) ~ input#cell{{ $adder}}r2{{$maxcol }}:not(:checked) ~ label.cell3{{add $ncols 1}}label{
			background: gray;
		}
	
		input#cell{{ $adder}}r1{{$maxcol }}:checked ~ input#cell{{ $adder}}r2{{$maxcol }}:checked ~ #span{{ $adder}}r3 .span3{{add $ncols 1}} {
			display: inline-block;
		}
		input#cell{{ $adder}}r1{{$maxcol }}:not(:checked) ~ input#cell{{ $adder}}r2{{$maxcol }}:not(:checked) ~ #span{{ $adder}}r3 .span3{{add $ncols 1}}{
			display: none;
		}
	
	{{ end }}
{{ end }}

input:not(:checked) + .purpleblock {
	width:1vw;
	position: absolute;
	top: 3vh;
	display: block;
	height: 1vw;
	background: purple;
}
input:not(:checked) + .blueblock {
	width:2vw;
	position: absolute;
	top: 6vh;
	display: block;
	height: 1vw;
	background: blue;
}
input:not(:checked) + .redblock {
	width:4vw;
	position: absolute;
	top: 9vh;
	display: block;
	height: 1vw;
	background: red;
}
input:not(:checked) + .orangeblock {
	width:8vw;
	position: absolute;
	top: 12vh;
	display: block;
	height: 1vw;
	background: orange;
}
input:not(:checked) + .greenblock {
	width:16vw;
	position: absolute;
	top: 15vh;
	display: block;
	height: 1vw;
	background: green;
}
input:not(:checked) + .yellowblock {
	width:32vw;
	position: absolute;
	top: 18vh;
	display: block;
	height: 1vw;
	background: yellow;
}

input:checked + .purpleblock {
	width:1vw;
	float: left;
	display: inline-block;
	height: 1vw;
	background: purple;
}
input:checked + .blueblock {
	width:2vw;
	float: left;
	display: inline-block;
	height: 1vw;
	background: blue;
}
input:checked + .redblock {
	width:4vw;
	float: left;
	display: inline-block;
	height: 1vw;
	background: red;
}
input:checked + .orangeblock {
	width:8vw;
	float: left;
	display: inline-block;
	height: 1vw;
	background: orange;
}
input:checked + .greenblock {
	width:16vw;
	float: left;
	display: inline-block;
	height: 1vw;
	background: green;
}
input:checked + .yellowblock {
	width:32vw;
	float: left;
	display: inline-block;
	height: 1vw;
	background: yellow;
}

input:not(:checked) + .brownblock {
	width:.5vw;
	position: absolute;
	top: 21vh;
	display: block;
	height: 1vw;
	background: brown;
}

input:checked + .brownblock {
	width:.5vw;
	float: left;
	display: inline-block;
	height: 1vw;
	background: brown;
}

.digits {
	position: absolute;
	top: 21vh;
	display: block;
	height: 1vw;
}
.digitsDecimal {
	position: absolute;
	top: 24vh;
	display: block;
	height: 1vw;
}
.redbit, .yellowbit, .purplebit, .bluebit, .greenbit, .orangebit, .brownbit {
	width:1vw;
	position: relative;
	display: inline-block;
	height: 1vw;
	background: gray;
}
input.redInput:checked ~ span .redbit, .redbit.redbitC {
	background: red;
}
input.yellowInput:checked ~ span .yellowbit {
	background: yellow;
}
input.blueInput:checked ~ span .bluebit {
	background: blue;
}
input.purpleInput:checked ~ span .purplebit, .purplebit.purplebitC {
	background: purple;
}
input.orangeInput:checked ~ span .orangebit {
	background: orange;
}
input.greenInput:checked ~ span .greenbit {
	background: green;
}
input.brownInput:checked ~ span .brownbit {
	background: brown;
}

</style>
</head>

{{ partial "body-open" . }}
	<div style="position: relative; left: 30%; z-index: 5; width: 40%;">
		<center>What is binary addition?</center>
		
		<p>We learned how to represent numbers as a sequence of on or off bits. If not, check it out.
		</p>
		
		<p>Addition is an important operation and also quite simple. If we place two blocks next to each other, how wide will the resulting block be? One way is to place them next to each other and see the total width. What is the total width of the combined block of black and brown?
		</p>
		<div style="float: left; width: 100%;">
			<span style="width:18vw; position: relative; display: inline-block; height: 1vw; background: black;"></span><span style="width:12vw; position: relative; display: inline-block; height: 1vw; background: brown;"></span>
		
			<div style="height: 24vh; position: relative; width: 32vw;">
			<input type="checkbox" id="green3" style="display:none;" class="greenInput">
			<label for="green3" class="greenblock"></label>
			<input type="checkbox" id="orange3" style="display:none;" class="orangeInput">
			<label for="orange3" class="orangeblock"></label>
			<input type="checkbox" id="red3" style="display:none;" class="redInput">
			<label for="red3" class="redblock"></label>
			<input type="checkbox" id="blue3" style="display:none;" class="blueInput">
			<label for="blue3" class="blueblock"></label>
			<input type="checkbox" id="purple3" style="display:none;" class="purpleInput">
			<label for="purple3" class="purpleblock"></label>
			<span class="digits"><span style="float: left;">Width = </span><span class="greenbit"></span><span class="orangebit"></span><span class="redbit"></span><span class="bluebit"></span><span class="purplebit"></span></span>
			</div>
		</div>
		
		<p>What we really want is a way to determine the sum based on the binary representations of two numbers. So first, what are the widths of each block?
		</p>
		
		<div style="float: left; width: 50%;">
			<span style="width:18vw; position: relative; display: block; height: 1vw; background: black;"></span>
		
			<div style="height: 24vh; position: relative; width: 32vw;">
			<input type="checkbox" id="green1" style="display:none;" class="greenInput">
			<label for="green1" class="greenblock"></label>
			<input type="checkbox" id="orange1" style="display:none;" class="orangeInput">
			<label for="orange1" class="orangeblock"></label>
			<input type="checkbox" id="red1" style="display:none;" class="redInput">
			<label for="red1" class="redblock"></label>
			<input type="checkbox" id="blue1" style="display:none;" class="blueInput">
			<label for="blue1" class="blueblock"></label>
			<input type="checkbox" id="purple1" style="display:none;" class="purpleInput">
			<label for="purple1" class="purpleblock"></label>
			<span class="digits"><span style="float: left;">Width = </span><span class="greenbit"></span><span class="orangebit"></span><span class="redbit"></span><span class="bluebit"></span><span class="purplebit"></span></span>
			</div>
		</div>
		<div style="float: left; width: 50%;">
			<span style="width:12vw; position: relative; display: block; height: 1vw; background: brown;"></span>
		
			<div style="height: 24vh; position: relative; width: 32vw;">
			<input type="checkbox" id="green2" style="display:none;" class="greenInput">
			<label for="green2" class="greenblock"></label>
			<input type="checkbox" id="orange2" style="display:none;" class="orangeInput">
			<label for="orange2" class="orangeblock"></label>
			<input type="checkbox" id="red2" style="display:none;" class="redInput">
			<label for="red2" class="redblock"></label>
			<input type="checkbox" id="blue2" style="display:none;" class="blueInput">
			<label for="blue2" class="blueblock"></label>
			<input type="checkbox" id="purple2" style="display:none;" class="purpleInput">
			<label for="purple2" class="purpleblock"></label>
			<span class="digits"><span style="float: left;">Width = </span><span class="greenbit"></span><span class="orangebit"></span><span class="redbit"></span><span class="bluebit"></span><span class="purplebit"></span></span>
			</div>
		</div>
		
		<p>Hopefully, you figured out that the sum we want is <span></span>+<span></span>.
		</p>
		
		<div style="float: left; width: 100%;">
			<span style="width:16vw; position: relative; display: inline-block; height: 1vw; background: green;"></span><span style="width:2vw; position: relative; display: inline-block; height: 1vw; background: blue;"></span><span style="width:8vw; position: relative; display: inline-block; height: 1vw; background: orange;"></span><span style="width:4vw; position: relative; display: inline-block; height: 1vw; background: red;"></span>
		
			<div style="height: 24vh; position: relative; width: 32vw;">
			<input type="checkbox" id="green4" style="display:none;" class="greenInput">
			<label for="green4" class="greenblock"></label>
			<input type="checkbox" id="orange4" style="display:none;" class="orangeInput">
			<label for="orange4" class="orangeblock"></label>
			<input type="checkbox" id="red4" style="display:none;" class="redInput">
			<label for="red4" class="redblock"></label>
			<input type="checkbox" id="blue4" style="display:none;" class="blueInput">
			<label for="blue4" class="blueblock"></label>
			<input type="checkbox" id="purple4" style="display:none;" class="purpleInput">
			<label for="purple4" class="purpleblock"></label>
			<span class="digits"><span style="float: left;">Width = </span><span class="greenbit"></span><span class="orangebit"></span><span class="redbit"></span><span class="bluebit"></span><span class="purplebit"></span></span>
			</div>
		</div>
		
		<p>You should note that this sum is really just a matter of rearranging the blocks. And changing the order of the blocks does not change the width, so we can rearrange blocks as needed to make the addition easier.
		</p>
		
		<p>Let's try to determine an algorithm to perform addition without needing to check which arrangement of blocks fits exactly. However, whatever algorithm we create should match the answer generated from measuring the width of the combined block.
		</p>
		
		<p>Start with the simplest cases. What are <span class="purplebit purplebitC"></span>+<span class="purplebit purplebitC"></span>, <span class="purplebit"></span>+<span class="purplebit purplebitC"></span>, <span class="purplebit purplebitC"></span>+<span class="purplebit"></span>, and <span class="purplebit"></span>+<span class="purplebit"></span>?
		</p>
		
		<p>Gray means off so there is no width, so <span class="purplebit"></span>+<span class="purplebit purplebitC"></span> and <span class="purplebit purplebitC"></span>+<span class="purplebit"></span> will both simply be <span class="purplebit purplebitC"></span>. And <span class="purplebit"></span>+<span class="purplebit"></span> = <span class="purplebit"></span>. The more complicated question is the sum of two of the same blocks. The combined width will be twice as wide so the answer is <span class="blueebit blueebitC"></span>.
		</p>
		
		<p>
		</p>
		Any definition of addition should match the result that is generated by measuring the combined widths, but we want to automate the process so that a computer can use on and off.
		
		If you add one of the smallest blocks to nothing then the result will be one of the smallest blocks. So red + gray = red. In fact, gray is the additive identity. No matter what we add to gray, the result does not change.
		
		What is red + red? Remember we are only allowed to use each small block at most one time. So combining two blocks of the same size requires the use of the a larger block. In the case of red + red, the next sized block is exactly twice the size so red + red = redgray.
		
		We could just keep computing additions and tell the computer all of the answers, but there are way too many possibilities. So we should come up with an algorithm.
		
		Using widths of blocks, it should be clear that rearranging the blocks will not change the total width. Instead of using the entire red block and the entire blue block we will arrange them by size.
		
		So redgray + blueblue becomes blueredblue. We will work left to right. We need one small purple block to match the one small blue block. Then to match the larger red and blue blocks we use one purple block of the larger size. 
		
		Treat red and blue blocks of the same size as a pair that should be worked together. If there are two of the same size, add a purple block of the next size. 
		
		If there is one of a size, then check if there is already a purple block of that size. If so, turn that purple block into a larger purple block. If not, add a purple block of that size. 
		
		When you are finished, you will have exactly matched the total width without reusing any of the small blocks. And then convert that to binary.
		
		A computer can use circuits and a similar type of algorithm to add any two binary numbers very quickly. Multiplication is more difficult, but can be achieved by repeated addition.
		
		What about decimals? Not every block will have width that is an exact multiple of the smallest block in our set. If we try to determine the width of such a block then we will reach a point where every block in the set is wider than the remaining width.
		
		In order to exactly match the width, we start adding smaller blocks to our set. Each new block will be half the width of the previous block. We keep adding the largest possible block that fits and recording it after the decimal point. If we get tired of adding new blocks we can stop and use the representation as an approximation.
		
		Since we are still using the same of idea of blocks of increasing size, addition is the same but we need to keep the decimals aligned to ensure that we are comparing blocks of the same size.
		
		
		 
		{{ range $adder := (seq 2) }}
		<div style="position: relative; float: left; z-index: 5; width: 400px; height: 200px;">
			{{ range $col := (seq $ncols) }}
				{{ range $row := (seq 2) }}
					<input type="checkbox" id="cell{{ $adder }}r{{ $row }}{{sub (add $ncols 1) $col }}" class="cellinput">
					<label for="cell{{ $adder }}r{{ $row }}{{ sub (add $ncols 1) $col }}" class="cell{{ $row }}{{ sub (add $ncols 1) $col }}label celllabel celllabel{{ $row }}">
					</label>
				{{ end }}
			{{ end }}
				{{ range $col := (seq (add $ncols 1)) }}
					<label class="cell3{{ $col }}label celllabel">
					</label>
				{{ end }}
			{{ range $row := (seq 3) }}
				<span id="span{{ $adder }}r{{ $row }}">
				{{if eq $row 3}}
					<span class="span3{{add $ncols 1}}"></span>
				{{ end }}
				{{ range $col := (seq $ncols) }}
					<span class="span{{ $row }}{{ sub (add $ncols 1) $col }}"></span>
				{{ end }}
				</span>
			{{ end }}

		</div>
		{{ end }}
	</div>
</body>


{{ partial "footer.html" . }}