{{ partial "header" . }}
</head>
{{ partial "body-open" . }}
<main>

    <div style="width:60%; left: 20%; position: relative;">
		<h1><center>What is CSS Hole?</center></h1>
		
		<ul>
        <li><h2>Play <a href="/games/sudokucss/easy1">sudoku</a></h2></li>
        <li><h2>Plot your <a href="/games/travellingsalesman/251">journey</a> around the United States</h2></li>
        <li><h2>Create your own <a href="/maps/electoral">electoral map</a></h2></li>
        <li><h2>Create your own <a href="/maps/cdmap">U.S Congressional District map</a></h2></li>
        <li><h2>Learn about <a href="/math/whatisbinary">binary</a></h2></li>
        <li><h2>Test your knowledge of <a href="/math/whatisbinary">trigonometric values</a></h2></li>

        </ul>

    </div>

</main>


{{ partial "footer" . }}