{{ partial "header" . }}
</head>
{{ partial "body-open" . }}
<main>
	<iframe src="https://www.google-analytics.com/collect?v=1&t=pageview&tid=UA-125340485-1&cid=f9897df0-1f6c-47d2-ba42-cd73e6db1404&dp=%2Findex" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    <div style="margin-left: auto; margin-right: auto; width: calc(200px + 40vw); position: relative;">
		<h2><center>What is CSS Hole?</center></h2>
		CSS Hole is a showcase of static web pages that provide interactive elements without any Javascript. Using only <a href="https://www.csshole.com/howto/about/index.html">HTML and CSS</a>, you can do any of the following:
		<ul>
        <li><h2>Play <a href="https://www.csshole.com/games/sudokucss/easy1/index.html">sudoku</a></h2></li>
        <li><h2>Plot your <a href="https://www.csshole.com/games/travellingsalesman/251/index.html">journey</a> around the United States</h2></li>
        <li><h2>Create your own <a href="https://www.csshole.com/maps/electoral/index.html">electoral map</a></h2></li>
        <li><h2>Create your own <a href="https://www.csshole.com/maps/cdmap/index.html">U.S Congressional District map</a></h2></li>
        <li><h2>Learn about <a href="https://www.csshole.com/math/whatisbinary/index.html">binary</a></h2></li>
        <li><h2>Test your knowledge of <a href="https://www.csshole.com/math/trigonometryquiz/index.html">trigonometric values</a></h2></li>

        </ul>

    </div>

</main>


{{ partial "footer" . }}